body {
    font-family: cursive;
    color: #000000;
    background-color: lightblue;
}

h1 {
    font-size: 40px;
    margin-top: 3rem;
    text-align: center;
}

#board {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.square {
    width: 120px;
    height: 120px;
    border: 1.4px solid black;
    background-color: rgb(243, 243, 235);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: pink (157, 239, 16, 0.84);
    color: goldenrod;
}

#restartButton {
    display: block;
    margin: 30px auto;
    height: 50px;
    width: 150px;
    background-color: white;
    border: 2px solid #000;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 400;
    color: black;
    padding: 5px;
}

#restartButton:hover {
    background-color: black (157, 239, 16, 0.84);
    color: red;
}